
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #1500ff;
    color: #fff;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
    
}

section {
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #86b300;
    text-align: center;
}
